.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  color: #0d3b66;
}
.buttons button {
  padding: 5px 10px;
  margin: 5px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 2px #0d3b66;
  background-color: #faf0ca;
  color: #0d3b66;
}
.input {
  width: 60px;
  margin: 0 auto;
  border-radius: 20px;
}
.input input {
  width: 100%;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  text-align: right;
  padding: 5px 10px;
}
