@keyframes move {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 160px);
  }
}
.box {
  margin: 10px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.animation {
  animation: move 6s alternate;
  animation-fill-mode: backwards;
}
